<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Dynamics 365 online FAQ</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for node in site.data.categories %}
            {% if page.url == node.url %}
              <li class="active">
                <a href="{{node.url}}">{{node.title}} <span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li><a href="{{node.url}}">{{node.title}} </a></li>
            {% endif %}
        {% endfor %}
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="Rechercher..." />
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://github.com/sanimation/dynamicsfaq" class="navbar-right navbar-link">
            <i class="fa fa-github fa-lg" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
