// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

$font-family-sans-serif:  $open-sans, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       $roboto-slab, Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

// jumbotron
$jumbotron-color: #ffffff;
$jumbotron-bg: #002050;

// container size
$container-large-desktop: 960px;

// pills
$nav-link-padding: 8px 0px;
$nav-pills-active-link-hover-bg: #0DA5B3;

// blockquote
blockquote {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.faq h2 {
  color: red;
}
