<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">

      <main>
        <div>
          <div class="content container">
            <div class="algolia__initial-content js-algolia__initial-content">
              {{ content }}
            </div>

            <div class="algolia__search-content js-algolia__search-content">
              <h1 class="page-title">Résultats</h1>
              <div class="posts algolia__results"></div>
              <br>
              <a href="https://www.algolia.com">{% img 'search-by-algolia.png' alt:'Recherche par algolia' %}</a>
            </div>
          </div>
        </div>
      </main>

    </div>

    {% include js.html %}

  </body>

</html>
